# ignore open versions of files vim actively looks at
*.swp

# ignore mac stuff 
.DS_STORE

# ignore outputs
outputs/
saved_agents/

# ignore cache
__pycache__/

# ignore *.slurm
current/submit.slurm
