absl-py==2.3.1
ale-py==0.11.2
alembic==1.18.1
certifi==2026.2.25
chardet==5.2.0
charset-normalizer==3.4.6
cloudpickle==3.1.2
colorama==0.4.6
colorlog==6.10.1
contourpy==1.3.3
cycler==0.12.1
DataProperty==1.1.0
decorator==5.2.1
etils==1.13.0
Farama-Notifications==0.0.4
filelock==3.20.3
fonttools==4.61.1
fsspec==2026.1.0
glfw==2.10.0
gmpy2==2.2.1
greenlet==3.3.1
grpcio==1.76.0
gymnasium==1.2.2
hf-xet==1.4.2
huggingface_hub==0.36.2
huggingface-sb3==3.0
idna==3.11
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
jax-jumpy==1.0.0
Jinja2==3.1.6
kiwisolver==1.4.9
Mako==1.3.10
Markdown==3.10.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mbstrdecoder==1.1.4
mdurl==0.1.2
moviepy==2.2.1
mpmath==1.3.0
mujoco==3.4.0
munkres==1.1.4
networkx==3.6.1
numpy==2.4.1
opencv-python==4.13.0.90
optree==0.18.0
optuna==4.7.0
packaging==26.0
pandas==3.0.0
pathvalidate==3.3.1
pillow==11.3.0
pip==25.3
proglog==0.1.12
protobuf==6.33.4
psutil==7.2.1
pybind11==3.0.1
pybind11-global==3.0.1
pygame==2.6.1
Pygments==2.19.2
PyOpenGL==3.1.10
pyparsing==3.3.2
pytablewriter==1.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.1.post1
PyYAML==6.0.3
requests==2.32.5
rich==14.3.1
sb3_contrib==2.8.0a0
setuptools==80.10.1
Shimmy==2.0.0
six==1.17.0
SQLAlchemy==2.0.46
stable_baselines3==2.8.0a4
sympy==1.14.0
tabledata==1.3.4
tcolorpy==0.1.7
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tomli==2.4.0
torch==2.9.1
tqdm==4.67.1
typepy==1.3.4
typing_extensions==4.15.0
unicodedata2==17.0.0
urllib3==2.6.3
wasabi==1.1.3
Werkzeug==3.1.5
wheel==0.46.3
zipp==3.23.0
